.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #232323;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 22px;
  color: white;
}

img {
  height: 80%;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  justify-content: center;
  align-content: center;
  width: 100%;
  padding: 0.5em;
  gap: 1em;
  grid-template-rows: 100px 100px 100px;
}

.span {
  width: 350px;
  margin-top: 15px;
  font-size: 30px;
}

button {
  height: 40px;
  width: 60px;
  border-radius: 15px;
  margin-bottom: 15px;
}